* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393E46;
    color: aqua;
}

h1 {
    font: 6rem 'Lobster', cursive;
    padding: 3rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.dice {
    margin: 0 10vh;
}


h3 {
    font: 2rem 'Indie Flower', cursive;
}

h2 {
    text-align: center;
    margin: 10vh;
}